.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background-image: linear-gradient(
    45deg,
    #ff0047,
    #2c34c7,
    #00d4ff,
    #ffef00,
    #ff0047
  );
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

.login-box {
  padding: 50px;
  background: white;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginTitle {
  margin-top: 75vh;
  padding: 10px 20px;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: #ffef00;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 추가 */
  border-radius: 4px;
  display: inline-block; /* 블록 요소로 설정 */
}

.google-login-btn {
  padding: 10px 15px;
  background-color: #dd4b39;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.google-login-btn:hover {
  background-color: #e74b37;
}
.naver-login-btn:hover {
  background-color: green;
}
.recovery-options {
  margin-top: 20px; /* 로그인 버튼들과의 간격 조정 */
  text-align: center; /* 버튼들을 중앙 정렬 */
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
