/* Loading.css */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체를 덮도록 설정 */
  width: 100%;
  position: fixed; /* 고정 위치 */
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); /* 배경색과 투명도 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.loading-spinner {
  position: relative;
  width: 100px; /* 원형 크기 */
  height: 100px;
}

.loading-image {
  position: absolute;
  width: 30px; /* 이미지 크기 */
  height: 30px;
  animation: rotate 1.5s linear infinite;
}

.loading-image:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  animation-delay: 0s;
}

.loading-image:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  animation-delay: 0.375s;
}

.loading-image:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  animation-delay: 0.75s;
}

.loading-image:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  animation-delay: 1.125s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
