.mypage-box {
  display: flex;
  flex-direction: column;
}

.mypage-signature {
  display: flex;
  justify-content: center;
}

.mypage-header {
  display: flex;
}
.mypage-navigation-myinfo > p:hover {
  background-color: #e0e0e0;
}
.mypage-container > ul:hover {
  background-color: #e0e0e0;
}
.mypage-container {
  display: flex;
  justify-content: space-between;
}
.post-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* 각 포스트 간의 간격 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.post-header {
  display: flex;
  justify-content: space-between; /* 제목과 카테고리를 같은 열에 배치 */
  margin-bottom: 10px;
}
.post-body {
  display: flex;
  align-items: center;
}

.post-body img {
  margin-right: 20px; /* 이미지와 버튼 사이의 간격 */
}
.delete-btn-myWrite {
  padding: 5px 10px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.delete-btn-myWrite:hover {
  background-color: #ff1c1c;
}
