.mypage-container {
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: space-around; /* 각 항목 사이에 균등한 간격을 두어 배치 */
  align-items: center; /* 세로 축 중앙 정렬 */
  padding: 20px; /* 패딩으로 내부 여백 제공 */
}

.menuItem {
  cursor: pointer; /* 마우스 오버시 포인터 모양 변경 */
  padding: 10px; /* 패딩으로 클릭 영역 확장 */
  list-style: none; /* 기본 목록 스타일 제거 */
}

.mypage-container:hover {
  background-color: aliceblue;
}
.delete-btn-myWrite {
  background-color: red;
  width: 100px;
  height: 100px;
}
.delete-btn-myComments {
  background-color: blue;
  width: 100px;
  height: 100px;
}
