.number-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.page-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  border-radius: 8px;
}

.page-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.page-button:active {
  background-color: #3e8e41;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .number-container {
    bottom: 0;
  }
  .page-button {
    border: none;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    justify-content: space-between;
    font-size: 12px;
    margin: 10px 2px;
    cursor: pointer;

    bottom: 0;
    transition:
      background-color 0.3s,
      transform 0.2s;
    border-radius: 8px;
  }
}
