.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
}
.logo {
  width: 80px; /* 원하는 너비 */
  height: auto; /* 높이는 자동으로 조절 */
}

.title {
  color: black;
  cursor: pointer;
}
