.write-container {
  max-width: 1000px;
  height: 100vh;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-input,
.menubar-select,
.photo-thumbnail-input,
.photos-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* 입력 필드의 padding이 너비에 포함되도록 */
}

.menubar-select {
  background-color: white;
  cursor: pointer;
}

.photo-thumbnail-input,
.photos-input {
  border: none;
  padding-left: 0;
}

.photos-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.photo-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover; /* 이미지 비율 유지하며 요소에 맞춤 */
  border-radius: 4px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: 3px solid aliceblue;
}

.submit-button:hover {
  background-color: #0056b3;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: darkred;
}

.thumbnail-container {
  position: relative; /* 상대적인 위치를 사용하여 자식 요소를 기준으로 위치 지정 */
  display: inline-block;
}
.thumbnail-container {
  position: relative;
  display: inline-block;
}
.thumbnail-image {
  display: block;
  max-width: 100%;
  height: auto;
}
