.render-comatibility-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.render-comatibility-box h1 {
  align-self: center;
}

.render-comatibility-box h2 {
  align-self: flex-start;
}

.render-comatibility-box div {
  align-self: flex-end;
}
